<?xml version="1.0" ?>
<model>
    <name>Surface vehicle (simple)</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Danesh Tarapore</name>
        <email></email>
    </author>
    <description>A surface vehicle model that will float. You can view this model in surface.world environment: gazebo worlds/surface.world</description>
</model>
